$body-bg: #000;
$body-color: #EEE;
$link-color: #58a6ff;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.header {
  margin: 14px 0 34px;
}

.user-detail {
  margin-left: 16px;

  figure {
    margin-bottom: 14px;
    position: relative;
  }
}